body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 24px;
  color: #519b8f;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  color: #c808c8;
  margin-bottom: 20px;
}

.game {
  display: flex;
  gap: 20px;
}


.game_image_2 {
  position: relative;
}

.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0);
  cursor: pointer; /* теперь можно кликать */
}

.green_circle {
  width: 50px;
  height: 50px;
  position: absolute;
}

/* координаты */
.circle_1 { top: 30px; left: 140px; }
.circle_2 { top: 40px; left: 350px; }
.circle_3 { top: 80px; left: 55px; }
.circle_4 { top: 150px; left: 110px; }
.circle_5 { top: 145px; left: 445px; }
.circle_6 { top: 260px; left: 62px; }
.circle_7 { top: 160px; left: 280px; }
.circle_8 { top: 300px; left: 390px; }

.counter {
  margin-top: 20px;
  font-size: 40px;
  color: #c808c8;
  font-weight: bold;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 32px;
  background-color: #3c9fb5e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
